<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="EcommerceAssignment.EcommerceAssignment.Listeners"/>
</listeners>

	<test name="validating order confirmed">
		<classes>
			<class
				name="EcommerceAssignment.EcommerceAssignment.ProductOrderTest">
			</class>
		</classes>
	</test>
</suite> <!-- Suite -->
